<div class="card shadow p-3 mb-5">
  <div class="card-header" style="text-align: center">
    <h3><%= t('actions.edit', model: @company.model_name.human)%></h3>
  </div>
</div>

<%= render 'form', company: @company %>